<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Le calendrier 2019</h2>
                    <h3 class="section-subheading text-muted">Toutes les activités déjà programmées - revenez régulièrement</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <!-- <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/taille01.jpg" alt="Atelier de taille - 1">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>02 février 2019</h4>
                                    <h4 class="subheading">Stage de taille</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Taille de formation sur 25 sujets dans le verger du président, à Bouxwiller.</p>
                                </div>
                            </div>
                      
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/taille00.jpg" alt="Atelier de taille - 2">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2 mars 2019</h4>
                                    <h4 class="subheading">Stage de taille</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Première taille de formation sur les 32 fruitiers du verger-école de l'association, à Lichtenberg.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/alambic.jpg" alt="Alambic">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>09 mars 2019</h4>
                                    <h4 class="subheading">Stage de distillation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ce stage se déroule à la salle des fêtes de Lichtenberg. Voir modalités et bulletin d'inscription en rubrique <b>Actualités</b>.</p>
                                </div>
                            </div>
                        </li>
                          </li> 
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/taille02.jpg" alt="Atelier de taille - 3">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>23 mars 2019</h4>
                                    <h4 class="subheading">Stage de taille</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Taille traditionnelle dans un verger de Lichtenberg.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/medievales.jpg" alt="Médiévales">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>01 mai 2019</h4>
                                    <h4 class="subheading">Médiévales du Château de Lichtenberg</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Dans le cadre de la Journée de la Route des Châteaux-forts, repas médiéval organisé par L'A.A.L.E. au Château de Lichtenberg. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/weinbourg.jpg" alt="Marché des jardiniers">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>05 mai 2019</h4>
                                    <h4 class="subheading">Marché des Jardiniers à Weinbourg</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Marché du village entièrement bio : l'A.A.L.E. présente une démonstration de distillation.</p>
                                </div>
                            </div>
                        </li>-->
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/grauelsbaum.jpg" alt="Grauelsbaum">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>29 juin 2019</h4>
                                    <h4 class="subheading">Fabrication de jus de pommes</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Pressage et fabrication de jus de pommes à Lichtenau / Grauelsbaum, ville allemande jumelée avec Lichtenberg.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/taille03.jpg" alt="Taille au vert">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>20 juillet 2019</h4>
                                    <h4 class="subheading">Stage de taille au vert</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Taille d'entretien d'un cerisier adulte dans un verger à Lichtenberg.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/harengs.jpg" alt="Haeriowe">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>31 août 2019</h4>
                                    <h4 class="subheading">Fête du village de Lichtenberg</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Soirée harengs animée par l'orchestre<br><b>Duo Excellence</b>.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/fete_pomme.jpg" alt="Fête de la pomme">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>13 octobre 2019</h4>
                                    <h4 class="subheading">Fête de la pomme et du boudin</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Une journée autour de la pomme chez notre partenaire la Boucherie Schwab : jus de pommes, tartes, <i>appfelkächle</i>. Vente et dégustation de pommes d'exception.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ag.jpg" alt="Assemblée générale 2018">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>25 octobre 2019</h4>
                                    <h4 class="subheading">Assemblée générale</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Tous les membres de l'AALE sont conviés à 20h à la salle des fêtes de Lichtenberg pour l'assemblée générale annuelle.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/nicolas.jpg" alt="Saint Nicolas">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>6 décembre 2019</h4>
                                    <h4 class="subheading">Visite du Saint Nicolas</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Saint Nicolas et le <i>Hans Trapp</i> passeront à la Maison des Assitantes Maternelles et dans les écoles de Lichtenberg.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Plantez
                                    <br>vos
                                    <br>Arbres !</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>