<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span class="copyright">Copyright &copy; <b>AALE</b> {{ 'now' | date: "%Y" }}</span>
            </div>

            <div class="col-md-6">
                    <a href="#portfolioModal1000" data-toggle="modal" class="btn btn-primary btn-sm">Mentions légales></a>
                    <a href="#portfolioModal1001" data-toggle="modal" class="btn btn-primary btn-sm">Crédits</a>
                    <button type="button" class="btn btn-primary btn-sm"><script type="text/javascript" src="//counter.websiteout.net/js/7/6/121/0"></script></button>
            </div>
        </div>
    </div>
</footer>
